* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
}
li {
  list-style-type: none;
}
.homePage__Wrapper {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.navbar__Container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbar__Container .logo {
  width: 50%;
  height: 4rem;
  display: flex;
  align-items: center;
}
.navbar__Container .logo .imgContainer {
  width: 12rem;
  height: 6rem;
  margin-left: -4rem;
}
.navbar__Container .logo .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar__Container .logo span {
  color: red;
  font-size: 1.25rem;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.homePage__Wrapper .navbar__Container .navItems__Container {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.navbar__Container li {
  font-size: 16px;
  font-weight: 400;
}
.navbar__Container li:nth-child(2) {
  margin-left: 1rem;
}
.heroSection__Wrapper {
  width: 100%;
  height: calc(100% - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection__Wrapper .hero {
  width: 27rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.heroSection__Wrapper .hero .head {
  width: auto;
  display: flex;
  align-items: center;
}
.heroSection__Wrapper .hero .head .imgContainer {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}
.heroSection__Wrapper .hero .head .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
  transition: all 0.2s ease;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(12deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.heroSection__Wrapper .hero .head h2 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-left: 0.25rem;
}
.heroSection__Wrapper .hero .primaryText {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 1.5rem 0px;
}
.heroSection__Wrapper .hero .secondaryText {
  font-size: 14px;
  line-height: 21px;
}
.heroSection__Wrapper .hero .appStore__Icon {
  width: 7.5rem;
  height: 2.5rem;
  margin-top: 1.5rem;
}
.heroSection__Wrapper .hero .appStore__Icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
}
.footer .footerContent__Container {
  width: 22rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer .footerContent__Container .upper,
.footer .footerContent__Container .lower {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerContent__Container .upper a,
.footer .footerContent__Container .lower a {
  text-decoration: none;
  color: #5476aa;
  font-size: 14px;
  line-height: 28px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.footer .footerContent__Container .upper .bullet,
.footer .footerContent__Container .lower .bullet {
  color: #ffaf52;
  text-align: center;
  font-size: 14px;
}
.mobileMenuIcon {
  display: none;
}
.mobileMenu {
  display: none;
}
.screenWrapper {
  width: 100%;
  height: 100%;
  display: none;
}
@media only screen and (max-device-width: 480px) {
  .navItem {
    display: none;
  }
  .navbar__Container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .heroSection__Wrapper .hero {
    padding: 0px 1rem;
  }
  .mobileMenuIcon {
    width: 3rem;
    height: 1.5rem;
    display: block;
  }
  .mobileMenuIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .mobileMenu {
    display: block;
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed;
    bottom: -100px;
    left: 0;
    transition: all 0.3s ease;
  }
  .mobileMenu .menuItems {
    height: 100%;
    width: 100%;
  }
  .mobileMenu .menuItems .mobile_menuItem {
    height: 2.75rem;
    border-bottom: 1px solid #e4e3e2;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
  }
  .mobileMenu .menuItems .mobile_menuItem .iconContainer {
    width: 1.5rem;
    height: 1.5rem;
  }
  .mobileMenu .menuItems .mobile_menuItem .iconContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .mobileMenu .menuItems .mobile_menuItem a {
    text-decoration: none;
    color: #37352f;
    padding-left: 0.25rem;
  }
  .screenWrapper {
    display: none;
    background-color: black;
    position: fixed;
    opacity: 0.6;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
  }
}
